<% content_for :title, "Dashboard" %>

<header class="header">
  <h1>Dashboard</h1>
</header>

<section>
  <div class="metrics">
    <div class="metric">
      <h4>Users</h4>
      <p><%= ::User.count %></p>
    </div>

    <div class="metric">
      <h4>Accounts</h4>
      <p><%= ::Account.count %></p>
    </div>
  </div>
</section>
